@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(101, 163, 13);
  --error-color: rgb(224, 110, 110);

  --bg-color: #111;
  --bg-color-2: #181818;
  --bg-color-3: #1a1a1a;
  --bg-color-4: #1b1b1b;

  --text-color: #fff;
  --text-color-2: #999;
  --text-color-3: #888888;
  --text-color-4: #212020;

  --link-color: #007bff;
  --link-color-hover: #747bff;
  --btn-bg-color: #3a3a3a;
  --btn-border-color-hover: #324275;
  --btn-outline-color-focus: #a9a1a1;
}

body[data-theme='light'] {
  --bg-color: #fff;

  --bg-color-2: #e3e3e3;
  --bg-color-3: #d2cbcb;
  --bg-color-4: #bbb0b0;

  --text-color: #303539;
  --text-color-2: #2f3439;
  --text-color-3: #14181a;
  --text-color-4: #020202;

  --link-color: #007bff;
  --link-color-hover: #747bff;
  --btn-bg-color: #f9f9f9;
  --btn-border-color-hover: #5872ca;
  --btn-outline-color-focus: #221f1f;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  min-width: 350px;
}

body::scrollbar,
.scrollbar::scrollbar {
  width: 10px;
  background-color: rgb(00 130 0);
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border-left: 2px solid rgb(00 100 0);
  border-radius: 5px;
  background-color: rgb(00 130 0);
}

label.invalid input,
label.invalid textarea{
  @apply border-b-2 border-b-red-500
}

input,
textarea {
  background: transparent;
  @apply border-b-2 border-b-primary p-1 outline-lime-300 focus:outline-[1px] bg-bg;
}

form label input{
  width: 100%
}

input[type='checkbox'] {
  @apply accent-primary;
}

.container {
  @apply max-w-[85%] mx-auto;
}

.pen {
  background-image: url('../assets/pen.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  @apply border-b-[3px] border-b-primary;
}

/* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  @apply invisible w-[max-content] bg-[#323232] text-[white] text-sm text-center absolute px-2 py-1 top-6 left-[-60px];
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext {
  visibility: visible;
} */

.chopLongText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
