@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #181818;
    color: whitesmoke
}

input{
    background: transparent;
}

.pen{
    background-image: url('../assets/pen.svg');
    background-repeat: no-repeat;
    background-size: contain;
}