@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #181818;
    color: whitesmoke
}

input, textarea{
    background: transparent;
    @apply border-b-2 border-b-lime-600 p-1 outline-lime-300 focus:outline-1 bg-[#181818];
}

.container{
    @apply max-w-[85%] mx-auto
}

.pen{
    background-image: url('../assets/pen.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.active{
    @apply border-b-[4px] border-b-lime-600
}