@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #181818;
    color: whitesmoke
}

input, textarea{
    background: transparent;
    @apply border-b-2 border-b-primary p-1 outline-lime-300 focus:outline-1 bg-[#181818];
}

input[type=checkbox]{
    @apply accent-primary
}

.container{
    @apply max-w-[85%] mx-auto
}

.pen{
    background-image: url('../assets/pen.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.active{
    @apply border-b-[3px] border-b-primary
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    @apply invisible w-[max-content] bg-[#323232] text-[white] text-sm text-center absolute px-2 py-1 top-6 left-[-60px]
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

nav{
    @apply px-[5%] py-2
}

.chopLongText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}